@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');

:root {
  --bg-color: #000000;
  --text-color: #ffb000;
  /* Amber/Yellow typical for these displays */
  --accent-color: #ffb000;
  --card-bg: transparent;
  --card-border: none;
  --font-family: 'DotGothic16', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-family);
  background-color: var(--bg-color);
  color: var(--text-color);
  -webkit-font-smoothing: none;
  /* Make it crisp */
  -moz-osx-font-smoothing: unset;
}